/* element */

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu7WdQmAV5ivJmEfEUiiRP1gK8AwOF8RrkxK-rhQHbh1KhdlS8");
}

/* class */
.
.button {
    background-color: #0e1b3d;
    border: none;
    color: lightblue;
    padding: 5px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: darkblue;
}

.canvas { 
    background: #eee;
    background-color: #f1f1f1;
    border:1px solid #d3d3d3;
}

.pcimgframe {
    border-radius: 25px;
    border: 10px solid grey;
    padding: 1px; 
    width: 200px;
    height: 150px; 
    object-fit: cover;
}

.tileimgframe {
    border-radius: 8px;
    border: 2px solid darkblue;
    padding: 1px; 
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.teamimgframe {
    border-radius: 8px;
    border: 2px solid darkblue;
    padding: 1px; 
    width: 200px;
    height: 150px;  
    object-fit: cover;
}

.promptframe {
    border-radius: 5px;
    border: 3px solid grey;
    padding: 1px; 
    resize: none;
    rows: 1; 
    cols: 18;
    background-color: grey;
    }

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px;
}

.flex-container > div {
  background-color: darkblue;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}
