
.button {
    background-color: #0e1b3d;
    border: none;
    color: lightblue;
    padding: 5px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: darkblue;
}

canvas { 
    background: #eee; 
}

