
.
.button {
    background-color: #0e1b3d;
    border: none;
    color: lightblue;
    padding: 5px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: darkblue;
}

.canvas { 
    background: #eee;
    background-color: #f1f1f1;
    border:1px solid #d3d3d3;
}

.pc {
    height: 100px;
    width: 100%;
    background-color: powderblue;
} 

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu7WdQmAV5ivJmEfEUiiRP1gK8AwOF8RrkxK-rhQHbh1KhdlS8");
}
   
